@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@import "tailwindcss";

/*GLOSSARY:
  bg: background
  bd: border
  pt: primary text

*/

@theme {
  --font-poppins: "Poppins", sans-serif;

  /* TEMA DARK */
  --color-orbite-bg-dark: #131b30;

  --color-orbite-bd-dark: #6f77c9;

  --color-orbite-pt-text-dark: #e6e9f0;
  --color-orbite-ct-text-dark: #293647;

  --color-orbite-bg-input: #0f0f27;
  --color-orbite-caret-dark: #fc6101;

  --color-orbite-footer-dark: #1d0051;

  /* TEMA LIGHT */
  --color-orbite-bg-light: #d9e0ef;

  --color-orbite-bd-light: #2c2f48;

  --color-orbite-p-text-light: #293647;
  --color-orbite-ct-text-light: #e6e9f0;

  --color-orbite-bg-input: #131b30;
  --color-orbite-caret-light: #753bfc;

  --color-orbite-footer-light: #3a0da4;

  --color-orbite-links-hover-light: #ae95de;

  /* LOGIN */

  /* bg-gradient-to-r from-blue-500 to-green-500 */
  --color-orbite-login-bg-1: #120b45;
  --color-orbite-login-bg-2: #0b0f1a;
  --color-link-login: #ff914d;
}
