@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif; 

  /*TEMA DARK*/
  --color-orbite-bg-dark: #131b30;

  --color-orbite-bd-dark: #6f77c9;

  --color-orbite-p-text-dark: #E6E9F0;
  --color-orbite-ct-text-dark: #293647;

  --color-orbite-bg-input: #0F0F27;
  --color-orbite-caret-dark: #FC6101;


  /*TEMA LIGHT*/
  --color-orbite-bg-light: #d9e0ef;

  --color-orbite-bd-light: #2C2F48;

  --color-orbite-p-text-light: #293647;
  --color-orbite-ct-text-light: #E6E9F0;

  --color-orbite-bg-input: #131b30;
  --color-orbite-caret-light: #753bfc;
}